.root {
  display: flex;
  min-height: 100vh;
}

.drawer {
  width: 220px;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  padding: 24px;
  overflow: auto;
}

.drawerHeader {
  padding: 16px;
}

.drawerFooter {
  padding: 16px;
}
